{% extends 'xforum/base_xforum.html '%}

{% block title %}
    Create Post - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="create">
        <center><h1 class="mt-5">Create post</h1></center>
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data" action="{% url 'post_create_url' %}">
                {% csrf_token %}
                {{ form.media }}
                <div class="form-group">
                    <label for="title"></label>
                    <input id="title" name="title" class="form-control form-control-lg" placeholder="Title">
                </div>
                <div class="form-group">
                    {{ form.body}}
                </div>
                <div class="form-group">
                    <label for="tags">Tags</label>
                    <select multiple class="form-control" id="tags" name="tags">
                        {% for tag in form.tags %}
                            {{ tag }}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="img">Post image</label>
                    <input name="img" id="img" type="file" class="form-control-file">
                </div>
                {% for field in form %}
                    <div class="form-group">
                        {% if field.errors %}
                             {{ field.errors }}
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Create Post</button>
            </form>
        </div>
    </div>
{% endblock %}