{% extends 'xforum/base_xforum.html '%}

{% block title %}
    Tags list - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="mt-5">
        <center><h1>All Tags</h1>
        <a href="{% url 'tag_create_url' %}"><h2>Create new tag</h2></a></center>
        <div class="container">
            <ul>
            {% for tag in tags %}
                <li><a href="{{ tag.get_absolute_url }}"> {{ tag.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}