body{
  background: #fff;
  margin:0 -15px;
}
.navbar{
    background-color: #828BED !important;
}
.container {
    width: 100%;
    white-space: nowrap;
}
/******************************
***********index page************
******************************/

.posts{
    display: block;
    float:left;
    align-items: left;
    width: 60%;
    margin-right: 10%;
}
.tags{
    display:flex;
    background-color: #c8c8c8;
}
