{% extends 'blog_app_m/base_blog_app_m.html'%}

{% block title %}
    Blog
{% endblock %}

{% block content %}
    {% for post in page_obj.object_list %}
        {% include 'blog_app_m\includes\post_card.html' %}
    {% endfor %}
{% endblock %}

{% block tag-content %}
    <div class="card" style="width: 18rem;text-align:center;">
        <div class="card-header">
            Last Tags
        </div>
        {% for tag in tags %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="{{ tag.get_absolute_url }}">{{ tag }}</a></li>
            </ul>
        {% endfor %}
    </div>
{% endblock %}

