{% extends 'blog_app_m/base_blog_app_m.html' %}

{% block title %}
    Tag Create - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="create mt-5">
        <center><h1 class="mt-5">Tag create</h1></center>
        <form action="{% url 'tag_create_url' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="title"></label>
                <input id="title" name="title" class="form-control form-control-lg" placeholder="Tag">
            </div>
            <div class="form-group">
                <label for="slug"></label>
                <input id="slug" name="slug" class="form-control form-control-lg" placeholder="Slug">
            </div>
            <button type="submit" class="btn btn-primary">Create Tag</button>
        </form>
    </div>
{% endblock %}